# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
CustomCamera/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
CustomCamera/*.xcscmblueprint
CustomCamera/*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
CustomCamera/build/
CustomCamera/DerivedData/
CustomCamera/*.moved-aside
CustomCamera/*.pbxuser
CustomCamera/!default.pbxuser
CustomCamera/*.mode1v3
CustomCamera/!default.mode1v3
CustomCamera/*.mode2v3
CustomCamera/!default.mode2v3
CustomCamera/*.perspectivev3
CustomCamera/CustomCamera/!default.perspectivev3

## Obj-C/Swift specific
CustomCamera/*.hmap

## App packaging
CustomCamera/*.ipa
CustomCamera/*.dSYM.zip
CustomCamera/*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

CustomCamera/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

CustomCamera/Carthage/Build/

# Accio dependency management
CustomCamera/Dependencies/
CustomCamera/.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

CustomCamera/fastlane/report.xml
CustomCamera/fastlane/Preview.html
CustomCamera/fastlane/screenshots/**/*.png
CustomCamera/fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

CustomCamera/iOSInjectionProject/
